.description {
  background-color: var(--background);
  position: relative;
  z-index: 0;
}

.description h2 {
  text-align: center;
  color: var(--letter);
  margin: 0;
}

.desc-container {
  display: flex;
  flex-direction: row-reverse;
}

.desc-news {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 2%;
}

.desc-news .card-news {
  background-color: var(--light-main);
  width: 80%;
  height: auto;
  overflow-y: scroll;
}

.card-news::-webkit-scrollbar {
  background-color: var(--background);
  width: 10px;
}

.card-news::-webkit-scrollbar-thumb {
  background-color: #00000033;
}

.card-news::-webkit-scrollbar-track {
  background-color: #00000027;
}

.new {
  background-color: var(--main);
  height: 97%;
  width: auto;
  margin: 1.5%;
  position: relative;
  overflow: hidden;
}

.new img {
  /* display: none; */
  width: 100%;
  height: 100%;
}

.box-new {
  position: absolute;
  background-color: red;
  width: 900px;
  height: 700px;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 30%) rotate(32deg);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 15%,
    rgba(255, 255, 255, 0.6) 25%,
    rgba(255, 255, 255, 0.8) 40%,
    rgba(255, 255, 255, 1) 100%
  );
}

.info-new {
  width: 100%;
  position: absolute;
  bottom: 3%;
  color: var(--letter);
  letter-spacing: -0.4px;
  word-spacing: -0.7px;
}

.info-new h3 {
  margin: 2%;
}

.info-new .date {
  margin: 0;
  margin-left: 2%;
  font-size: 60%;
  text-decoration: underline
}

.info-new .mini-desc {
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 90%;
}

.desc-column {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  width: 100%;
}

.desc-column .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.card div {
  background-color: var(--light-main);
  width: 80%;
  height: 120px;
}

.content {
  color: var(--letter);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .content p {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 80%;
  letter-spacing: -0.4px;
  word-spacing: -0.7px;
}

.card .image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image img {
  position: absolute;
  height: 85%;
  width: 80%;
}

.image2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image2 img {
  position: absolute;
  width: 70%;
  height: 80%;
}

.desc-column .header {
  width: 45%;
  background-color: var(--main);
  position: absolute;
  height: auto;
  z-index: 1;
  transform: translateY(-60%);
  left: 15%;
}

.header a {
  color: var(--letter);
  font-size: 80%;
  font-weight: 550;
  padding: 9%;
}
