.description {
  background-color: #eee;
  position: relative;
  z-index: 0;
}

.description h2 {
  text-align: center;
  color: rgb(75, 75, 75);
  margin: 0;
}

.desc-container {
  display: flex;
  flex-direction: row-reverse;
}

.desc-news {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 3%;
}

.desc-column {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  width: 100%;
}

.desc-news .card {
  background-color: #aedbce5d;
  width: 80%;
  height: auto;
}

.desc-column .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.card div {
  background-color: #aedbce5d;
  width: 80%;
  height: 120px;
}

.content {
  color: rgb(75, 75, 75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .content p {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 80%;
}

.card .image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image img {
  position: absolute;
  height: 85%;
  width: 80%;
}

.image2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image2 img {
  position: absolute;
  width: 70%;
  height: 80%;
}

.desc-column .header {
  width: 45%;
  background-color: #b3d4d3;
  position: absolute;
  height: auto;
  z-index: 1;
  transform: translateY(-60%);
  left: 15%;
}

.header a {
  color: rgb(75, 75, 75);
  font-size: 80%;
  font-weight: 550;
  padding: 9%;
}
