<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/Sectores/style.css" />
    <link rel="stylesheet" href="../../css/Sectores/style-footer.css" />

    <title>Document</title>
  </head>
  <body>
    <section class="banner">
      <div class="box">
        <div>
          <img src="../../src/img/adaptaciones3d.jpeg" class="adapataciones3d" />
          <p>
            ADAPTACIONES INCLUSIVAS EN 3D
                  </p>
        </div>
      </div>
    </section>

    <section class="inicio">
      <div class="box2">
        <div class="marker">
          <h2>¿Que hacemos?</h2>

          <div class="triangulo"></div>
        </div>
        <div class="Imagen">
          <img src="../../src/img/Oficina.jpg" />
        </div>
        <div class="Contenido">
          <h3>Mas informacion</h3>
          <p>  en este espacio se cuenta con 2 Impresoras 3D: una Prusa i3 y una Makerbot replicador mini; un Scanner 3D y un CNC (Control Numérico Computarizado, en desarrollo). 
          </p>
        </div>
      </div>

      <div class="box3">
        <div class="marker2">
          <div class="triangulo2"></div>
          <h2>¿Cual es nuestro objetivo?</h2>
        </div>
        <div class="Imagen2">
          <img src="../../src/img/Oficina2.jpg" />
        </div>
        <div class="Contenido">
          <h3>Mas informacion</h3>
          <p class>
            Realizar piezas como repuesto de las mismas impresoras y desarrollo del CNC como así también piezas a requerimiento de los otros espacios de extensión
          </p>
        </div>
      </div>
        
 
      <div class="box4">
        <div class="marker3">
          <h2>Supervisores</h2>

          <div class="triangulo3"></div>
        </div>
        <div class="Imagen">
          <img src="../../src/img/Oficina.jpg" />
        </div>
        <div class="Contenido">
          <h3>Mas informacion</h3>
          <ul>
            <li>Francisco Sebastian Esteban Bustos</li>
            <li>Félix Clemente Oyuela</li>
        </div>
      </div>
      <div class="box5">
        <div class="marker4">
          <div class="triangulo4"></div>
          <h2>Colaboradores</h2>
        </div>
        <div class="Imagen2">
          <img src="../../src/img/Oficina2.jpg"  />
        </div>
        <div class="Contenido">
          <h3>Mas informacion</h3>

          <ul>
            <li>Luciano Macías</li>
            <li>Tomás Naranjo</li>
        </ul>

        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="contacts">
        <br />
        <a
          >Email: uniteconline@gmail.com <br />
          unitec@ing.unlp.edu.ar
        </a>
        <br />
        <a>Tel: (+54) (221) 425-8911 - Interno 3508 </a>
      </div>
    </footer>
  </body>
  <script src="scripts/script.js"></script>
</html>
